USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertLocationsBulk]    Script Date: 22.04.2026 10:22:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [wms].[UpsertLocationsBulk]
    @Items wms.LocationsTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.Lokalizacje AS target
    USING @Items AS source
        ON target.Lok_Id = source.Lok_Id
    WHEN MATCHED THEN
        UPDATE SET
            target.Lok_KodWMS = source.Lok_KodWMS,
            target.Lok_KodERP = source.Lok_KodERP,
            target.Lok_Ean = source.Lok_Ean,
            target.Lok_Magazyn = source.Lok_Magazyn,
            target.Lok_Waga = source.Lok_Waga,
            target.Lok_Objetosc = source.Lok_Objetosc,
            target.Lok_Dlugosc = source.Lok_Dlugosc,
            target.Lok_Szerokosc = source.Lok_Szerokosc,
            target.Lok_Wysokosc = source.Lok_Wysokosc,
            target.Lok_ZajetosWagi = source.Lok_ZajetosWagi,
            target.Lok_ZajetoscObjetosci = source.Lok_ZajetoscObjetosci,
            target.Lok_Aktywna = source.Lok_Aktywna,
            target.Lok_Typ = source.Lok_Typ,
            target.Lok_TypProcesu = source.Lok_TypProcesu,
            target.Lok_MaxSKU = source.Lok_MaxSKU,
            target.Lok_MaxPartie = source.Lok_MaxPartie,
            target.Lok_MaxJl = source.Lok_MaxJl,
            target.Lok_MaxIlosc = source.Lok_MaxIlosc,
            target.Lok_KlasaRotacji = source.Lok_KlasaRotacji
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (
            Lok_Id,
            Lok_KodWMS,
            Lok_KodERP,
            Lok_Ean,
            Lok_Magazyn,
            Lok_Waga,
            Lok_Objetosc,
            Lok_Dlugosc,
            Lok_Szerokosc,
            Lok_Wysokosc,
            Lok_ZajetosWagi,
            Lok_ZajetoscObjetosci,
            Lok_Aktywna,
            Lok_Typ,
            Lok_TypProcesu,
            Lok_MaxSKU,
            Lok_MaxPartie,
            Lok_MaxJl,
            Lok_MaxIlosc,
            Lok_KlasaRotacji
        )
        VALUES (
            source.Lok_Id,
            source.Lok_KodWMS,
            source.Lok_KodERP,
            source.Lok_Ean,
            source.Lok_Magazyn,
            source.Lok_Waga,
            source.Lok_Objetosc,
            source.Lok_Dlugosc,
            source.Lok_Szerokosc,
            source.Lok_Wysokosc,
            source.Lok_ZajetosWagi,
            source.Lok_ZajetoscObjetosci,
            source.Lok_Aktywna,
            source.Lok_Typ,
            source.Lok_TypProcesu,
            source.Lok_MaxSKU,
            source.Lok_MaxPartie,
            source.Lok_MaxJl,
            source.Lok_MaxIlosc,
            source.Lok_KlasaRotacji
        );
END;
