USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertOperationsBulk]    Script Date: 22.04.2026 10:22:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


ALTER PROCEDURE [wms].[UpsertOperationsBulk]
    @Items wms.OperationsTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.Operacje AS target
    USING @Items AS source
        ON target.Ope_Id = source.Ope_Id
    WHEN MATCHED THEN
        UPDATE SET
            target.Ope_Kod = source.Ope_Kod,
            target.Ope_ErpDokId = source.Ope_ErpDokId,
            target.Ope_ErpDokTyp = source.Ope_ErpDokTyp,
            target.Ope_ErpTwrId = source.Ope_ErpTwrId,
            target.Ope_Ilosc = source.Ope_Ilosc,
            target.Ope_JlZrdId = source.Ope_JlZrdId,
            target.Ope_LokZrdId = source.Ope_LokZrdId,
            target.Ope_JlDocId = source.Ope_JlDocId,
            target.Ope_LokDocId = source.Ope_LokDocId,
            target.Ope_Operator = source.Ope_Operator,
            target.Ope_OperacjaTyp = source.Ope_OperacjaTyp,
            target.Ope_OperacjaTypId = source.Ope_OperacjaTypId,
            target.Ope_DokStatus = source.Ope_DokStatus,
            target.Ope_DokStatusId = source.Ope_DokStatusId,
            target.Ope_DokData = source.Ope_DokData,
            target.Ope_Data = source.Ope_Data,
            target.Ope_DataKoniec = source.Ope_DataKoniec,
            target.Ope_NrParti = source.Ope_NrParti,
            target.Ope_DataWaznosci = source.Ope_DataWaznosci,
            target.Ope_JlTypZrd = source.Ope_JlTypZrd,
            target.Ope_JlTypDoc = source.Ope_JlTypDoc,
            target.Ope_StrefaZrdId = source.Ope_StrefaZrdId,
            target.Ope_StrefaDocId = source.Ope_StrefaDocId
    WHEN NOT MATCHED BY TARGET THEN
        INSERT
        (
            Ope_Id,
            Ope_Kod,
            Ope_ErpDokId,
            Ope_ErpDokTyp,
            Ope_ErpTwrId,
            Ope_Ilosc,
            Ope_JlZrdId,
            Ope_LokZrdId,
            Ope_JlDocId,
            Ope_LokDocId,
            Ope_Operator,
            Ope_OperacjaTyp,
            Ope_OperacjaTypId,
            Ope_DokStatus,
            Ope_DokStatusId,
            Ope_DokData,
            Ope_Data,
            Ope_DataKoniec,
            Ope_NrParti,
            Ope_DataWaznosci,
            Ope_JlTypZrd,
            Ope_JlTypDoc,
            Ope_StrefaZrdId,
            Ope_StrefaDocId
        )
        VALUES
        (
            source.Ope_Id,
            source.Ope_Kod,
            source.Ope_ErpDokId,
            source.Ope_ErpDokTyp,
            source.Ope_ErpTwrId,
            source.Ope_Ilosc,
            source.Ope_JlZrdId,
            source.Ope_LokZrdId,
            source.Ope_JlDocId,
            source.Ope_LokDocId,
            source.Ope_Operator,
            source.Ope_OperacjaTyp,
            source.Ope_OperacjaTypId,
            source.Ope_DokStatus,
            source.Ope_DokStatusId,
            source.Ope_DokData,
            source.Ope_Data,
            source.Ope_DataKoniec,
            source.Ope_NrParti,
            source.Ope_DataWaznosci,
            source.Ope_JlTypZrd,
            source.Ope_JlTypDoc,
            source.Ope_StrefaZrdId,
            source.Ope_StrefaDocId
        );
END;
