USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertWarehouseStockBulk]    Script Date: 22.04.2026 10:22:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [wms].[UpsertWarehouseStockBulk]
(
    @Items wms.WarehouseStockTableType READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    -- 1. MERGE - upsert produktów ze zwróconych lokalizacji
    MERGE INTO wms.TwrStany AS target
    USING @Items AS source
    ON target.TWS_LokalizacjaId = source.LocationId
        AND target.TWS_TwrNumer = source.ProductId
        AND (
            target.TWS_NrParti = source.BatchNumber
            OR (target.TWS_NrParti IS NULL AND source.BatchNumber IS NULL)
        )
        AND (
            target.TWS_DataWaznosci = source.TermValidity
            OR (target.TWS_DataWaznosci IS NULL AND source.TermValidity IS NULL)
        )

    WHEN MATCHED THEN
        UPDATE SET 
            TWS_Ilosc = source.Quantity,
            TWS_Braki = source.OutOfStock,
            TWS_DataWaznosci = source.TermValidity

    WHEN NOT MATCHED BY TARGET THEN
        INSERT (TWS_TwrNumer, TWS_LokalizacjaId, TWS_Ilosc, TWS_Braki, TWS_NrParti, TWS_DataWaznosci)
        VALUES (
            source.ProductId,
            source.LocationId,
            source.Quantity,
            source.OutOfStock,
            source.BatchNumber,
            source.TermValidity
        )

    -- Usuń produkty, które są w lokalizacjach ze @Items, ale nie ma ich w @Items
    -- (tj. API zwróciła lokalizację ale bez tego produktu)
    WHEN NOT MATCHED BY SOURCE 
        AND target.TWS_LokalizacjaId IN (SELECT DISTINCT LocationId FROM @Items)
    THEN DELETE;

    -- 2. Usuń całe lokalizacje, które nie były zwrócone przez API
    DELETE FROM wms.TwrStany 
    WHERE TWS_LokalizacjaId NOT IN (SELECT DISTINCT LocationId FROM @Items);
END;
