USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertTasksBulk]    Script Date: 22.04.2026 10:22:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [wms].[UpsertTasksBulk]
    @Items wms.TasksTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.Zadania AS target
    USING @Items AS source
        ON target.Zad_Id = source.Zad_Id
    WHEN MATCHED THEN
        UPDATE SET
            target.Zad_Kod = source.Zad_Kod,
            target.Zad_PickingTyp = source.Zad_PickingTyp,
            target.Zad_PickingTypId = source.Zad_PickingTypId,
            target.Zad_StrefaZrdId = source.Zad_StrefaZrdId,
            target.Zad_StrefaDocId = source.Zad_StrefaDocId,
            target.Zad_Status = source.Zad_Status,
            target.Zad_StatusId = source.Zad_StatusId,
            target.Zad_Data = source.Zad_Data,
            target.Zad_DataRealizacji = source.Zad_DataRealizacji
    WHEN NOT MATCHED BY TARGET THEN
        INSERT
        (
            Zad_Id,
            Zad_Kod,
            Zad_PickingTyp,
            Zad_PickingTypId,
            Zad_StrefaZrdId,
            Zad_StrefaDocId,
            Zad_Status,
            Zad_StatusId,
            Zad_Data,
            Zad_DataRealizacji
        )
        VALUES
        (
            source.Zad_Id,
            source.Zad_Kod,
            source.Zad_PickingTyp,
            source.Zad_PickingTypId,
            source.Zad_StrefaZrdId,
            source.Zad_StrefaDocId,
            source.Zad_Status,
            source.Zad_StatusId,
            source.Zad_Data,
            source.Zad_DataRealizacji
        );
END;
