USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertLogisticUnitsBulk]    Script Date: 22.04.2026 10:22:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER   PROCEDURE [wms].[UpsertLogisticUnitsBulk]
    @Items wms.LogisticUnitsTableType READONLY,
    @ContentItems wms.LogisticUnitContentTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.Jl AS target
    USING @Items AS source
      ON target.Jl_Id = source.Jl_Id
    WHEN MATCHED THEN
        UPDATE SET
            target.Jl_Kod = source.Jl_Kod,
            target.Jl_Status = source.Jl_Status,
            target.Jl_StrefaId = source.Jl_StrefaId,
            target.Jl_LokId = source.Jl_LokId,
            target.Jl_StrefaDocId = source.Jl_StrefaDocId,
            target.Jl_TypOdkladania = source.Jl_TypOdkladania
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (Jl_Id, Jl_Kod, Jl_Status, Jl_StrefaId, Jl_LokId, Jl_StrefaDocId, Jl_TypOdkladania)
        VALUES (source.Jl_Id, source.Jl_Kod, source.Jl_Status, source.Jl_StrefaId, source.Jl_LokId, source.Jl_StrefaDocId, source.Jl_TypOdkladania);

    MERGE wms.JlStany AS target
    USING @ContentItems AS source
      ON target.JLS_JlId = source.JLS_JlId
     AND target.JLS_TwrNumer = source.JLS_TwrNumer
     AND ISNULL(target.JLS_NrParti, '') = ISNULL(source.JLS_NrParti, '')
     AND ISNULL(target.JLS_DataWaznosci, '') = ISNULL(source.JLS_DataWaznosci, '')
    WHEN MATCHED THEN
        UPDATE SET
            target.JLS_Ilosc = source.JLS_Ilosc,
            target.JLS_Braki = source.JLS_Braki
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (JLS_JlId, JLS_TwrNumer, JLS_NrParti, JLS_DataWaznosci, JLS_Ilosc, JLS_Braki)
        VALUES (source.JLS_JlId, source.JLS_TwrNumer, source.JLS_NrParti, source.JLS_DataWaznosci, source.JLS_Ilosc, source.JLS_Braki)
    WHEN NOT MATCHED BY SOURCE
         AND target.JLS_JlId IN (SELECT DISTINCT Jl_Id FROM @Items)
        THEN DELETE;
END
