USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertZoneLocationsBulk]    Script Date: 22.04.2026 10:22:58 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [wms].[UpsertZoneLocationsBulk]
    @Items wms.ZoneLocationsTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.StrefyLokalizacje AS target
    USING @Items AS source
        ON target.SL_StrefaId = source.SL_StrefaId
       AND target.SL_LokalizacjaId = source.SL_LokalizacjaId
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (SL_StrefaId, SL_LokalizacjaId)
        VALUES (source.SL_StrefaId, source.SL_LokalizacjaId);
END;
