USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertDocumentsBulk]    Script Date: 22.04.2026 10:22:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [wms].[UpsertDocumentsBulk]
    @Items wms.DocumentsTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.Dokumenty AS target
    USING @Items AS source
        ON target.Dok_Id = source.Dok_Id
    WHEN MATCHED THEN
        UPDATE SET
            target.Dok_Kod = source.Dok_Kod,
            target.Dok_ErpId = source.Dok_ErpId,
            target.Dok_ErpTyp = source.Dok_ErpTyp,
            target.Dok_Status = source.Dok_Status,
            target.Dok_StatusId = source.Dok_StatusId,
            target.Dok_Typ = source.Dok_Typ,
            target.Dok_TypId = source.Dok_TypId,
            target.Dok_Ilosc = source.Dok_Ilosc,
            target.Dok_IloscZrealizowana = source.Dok_IloscZrealizowana
    WHEN NOT MATCHED BY TARGET THEN
        INSERT
        (
            Dok_Id,
            Dok_Kod,
            Dok_ErpId,
            Dok_ErpTyp,
            Dok_Status,
            Dok_StatusId,
            Dok_Typ,
            Dok_TypId,
            Dok_Ilosc,
            Dok_IloscZrealizowana
        )
        VALUES
        (
            source.Dok_Id,
            source.Dok_Kod,
            source.Dok_ErpId,
            source.Dok_ErpTyp,
            source.Dok_Status,
            source.Dok_StatusId,
            source.Dok_Typ,
            source.Dok_TypId,
            source.Dok_Ilosc,
            source.Dok_IloscZrealizowana
        );
END;
