USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertTaskDocumentsBulk]    Script Date: 22.04.2026 10:22:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

ALTER PROCEDURE [wms].[UpsertTaskDocumentsBulk]
    @Items wms.TaskDocumentsTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    ;WITH ValidItems AS
    (
        SELECT DISTINCT i.ZD_ZadanieId, i.ZD_DokumentId
        FROM @Items i
        INNER JOIN wms.Zadania t ON t.Zad_Id = i.ZD_ZadanieId
        INNER JOIN wms.Dokumenty d ON d.Dok_Id = i.ZD_DokumentId
    )
    MERGE wms.ZadaniaDokumenty AS target
    USING ValidItems AS source
        ON target.ZD_ZadanieId = source.ZD_ZadanieId
       AND target.ZD_DokumentId = source.ZD_DokumentId
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (ZD_ZadanieId, ZD_DokumentId)
        VALUES (source.ZD_ZadanieId, source.ZD_DokumentId);
END;
