USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertCustomOperationsBulk]    Script Date: 22.04.2026 10:21:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER   PROCEDURE [wms].[UpsertCustomOperationsBulk]
(
    @Items wms.OperacjePozaTerminalemTableType READONLY
)
AS
BEGIN
    SET NOCOUNT ON;

    MERGE INTO wms.OperacjePozaTerminalem AS target
    USING @Items AS source
    ON target.OPZ_WmsId = source.WmsId

    WHEN MATCHED THEN
        UPDATE SET 
            OPZ_OperatorId = source.UserId,
            OPZ_Operator = source.UserName,
            OPZ_OperacjaId = source.OperationId,
            OPZ_Operacja = source.OperationName,
            OPZ_DataRozpoczecia = source.TimeStart,
            OPZ_DataZakonczenia = source.TimeEnd,
            OPZ_MagazynId = source.WarehouseId,
            OPZ_IloscSekund = source.DurationSeconds

    WHEN NOT MATCHED THEN
        INSERT (OPZ_WmsId, OPZ_OperatorId, OPZ_Operator, OPZ_OperacjaId, OPZ_Operacja, 
                OPZ_DataRozpoczecia, OPZ_DataZakonczenia, OPZ_MagazynId, OPZ_IloscSekund)
        VALUES (
            source.WmsId,
            source.UserId,
            source.UserName,
            source.OperationId,
            source.OperationName,
            source.TimeStart,
            source.TimeEnd,
            source.WarehouseId,
            source.DurationSeconds
        );
END;
