USE [CDNXL_GASKA]
GO
/****** Object:  StoredProcedure [wms].[UpsertZonesBulk]    Script Date: 22.04.2026 10:23:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [wms].[UpsertZonesBulk]
    @Items wms.ZonesTableType READONLY
AS
BEGIN
    SET NOCOUNT ON;

    MERGE wms.Strefy AS target
    USING @Items AS source
        ON target.Str_ID = source.Str_ID
    WHEN MATCHED THEN
        UPDATE SET
            target.Str_Nazwa = source.Str_Nazwa,
            target.Str_Typ = source.Str_Typ,
            target.Str_Magazyn = source.Str_Magazyn
    WHEN NOT MATCHED BY TARGET THEN
        INSERT (Str_ID, Str_Nazwa, Str_Typ, Str_Magazyn)
        VALUES (source.Str_ID, source.Str_Nazwa, source.Str_Typ, source.Str_Magazyn);
END;
